<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manuel.bahamut" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/agenda"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.manuel.bahamut.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".fm_crearSemestre" />
        <activity android:name=".fm_crearAsignatura" />
        <activity android:name=".FragAsignatura"/>
        <activity android:name=".infoAsignatura"/>
        <activity android:name=".fm_crearClase"/>
        <activity android:name=".fm_crearEvaluaciones"/>
    </application>

</manifest>
